@import "vars";

.post-intro{
    @include media-breakpoint-only(xs){
        padding-top: 80px;
    }
    .breadcrumbs{
        a{
            color: $blue-grey;
            transition: all 0.3s ease-in-out;
            &:hover{
                color: var(--accent);
            }
        }
    }
    .post-intro-image{
        max-width: 1520px;
        margin: auto;
        height: 420px;
        overflow: hidden;
        background-size: cover;
        background-position: center;
    }
}

.category-badge{
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--accent);
}

.post-card{
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    .post-image-wrapper{
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 59.11% 0 0 0;
        margin-bottom: 0.25rem;
        border-radius: $border-radius;
        transition: all 0.3s ease-in-out;
        img{
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    h3{
        padding-right: 8px;
        &:after{
            content: $icon-chevron-right;
            font-family: $fh-font-family;
            font-weight: bold;
            font-size: 16px;
            color: var(--accent);
            display: inline-block;
            vertical-align: middle;
            margin-left: 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
            position: absolute;
        }
    }
    &[href]{
        &:hover{
            color: black;
            figure{
                filter: grayscale(0);
            }
            h3{
                text-decoration: underline;
            }
            h3:after{
                margin-left: 8px;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.post-card__hover{
    transition: all 0.3s ease-in-out;
    .hover-container-active &{
        opacity: 0.4;
        filter: grayscale(1);
        &:hover{
            opacity: 1;
            filter: grayscale(0);
        }
    }
}
.list-loading {
    opacity: 0.4;
    filter: grayscale(1);
    pointer-events: none;
}


.post-tags{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    li{
        font-size: 1rem;
        font-weight: 400;
        background-color: $grey-bg;
        padding: 8px 12px;
        border-radius: $border-radius;
        margin-right: 8px;
        margin-bottom: 6px;
    }
}

#posts .filters-list-items.row{
    @include media-breakpoint-up(sm){
        margin-left: -2rem;
        margin-right: -2rem;
        & > *{
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

#post-content, .post-type-post .edit-post-visual-editor .editor-styles-wrapper, .single-job-position .post-main{
    .wp-block-embed{
        margin: 3rem auto;
    }
    p{
        margin-bottom: 1.5rem;
    }
    h2{
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
    a:not(.button){
        color: var(--accent);
    }
    tbody, td, tfoot, th, thead, tr{
        border-width: 1px;
        border-color: $border;
    }
    .wp-block-pullquote, .wp-block-quote{
        p{
            font-size: 1.25rem;
        }
    }
    ul, ol{
        margin-left: 0;
        font-weight: 300;
        li{
            padding-left: 16px;
            list-style-type: none;
            position: relative;
            &::before{
                content: '';
                width: 3px;
                height: 3px;;
                border-radius: 50%;
                background-color: black;
                position: absolute;
                left: 4px;
                top: 12px;
            }
        }
    }
    .wp-element-caption{
        text-align: left;
    }
    .wp-block-gallery{
        margin: 3rem auto;
    }
}