.fluentform {
    @extend .section-padd;
    @extend .container;
    opacity: 1!important;
    visibility: visible!important;
    transform: translateY(0)!important;

    @include media-breakpoint-up(lg) {
        max-width: 880px;
        margin: auto;
    }

    .ff-el-input--label.ff-el-is-required.asterisk-right label:after{
        content: '*';
        color: #FF0000;
        margin-left: 0;
    }

    .ff-upload-remove:hover{
        color: black;
        text-shadow: none;
    }

    input,
    textarea {
        &.ff-el-form-control {
            border-radius: 0;
            border: 1px solid $border;
            background-color: white;
            padding: 20px;
            color: black;
            line-height: 1;
            min-height: 62px;
            transition: all 0.3s ease-in-out;

            &::placeholder {
                color: rgba(black, 0.3);
            }

            &:hover {
                border-color: $lgrey-bg;
                box-shadow: 0 4px 16px rgba(black, 0.05);

                .lgrey-bg & {
                    border-color: white;
                }
            }

            &:focus {
                border-color: $black;
            }
        }
    }

    span.select2.select2-container:after {
        display: none;
    }

    .select2-container--default, .choices {
        .select2-selection--single, .choices__inner {
            min-height: 62px;
            border-radius: 0;
            transition: all 0.3s ease-in-out;

            .select2-selection__rendered {
                font-size: 1rem;
                line-height: 62px;
                padding: 0 20px;
                font-weight: 400;
            }

            &:hover {
                border-color: $lgrey-bg;
                box-shadow: 0 4px 16px rgba(black, 0.05);

                .lgrey-bg & {
                    border-color: white;
                }
            }

            &:focus {
                border-color: $black;
            }

            .select2-selection__arrow {
                position: absolute;
                right: 12px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .choices__inner{
            font-size: 1rem;
            padding: 12px 20px;
            font-weight: 400;
            display: flex;
            align-items: center;
        }
    }

    .ff-el-form-check{
        &.ff_item_selected .ff-el-form-check-label {
            &:before {
                background-color: transparent;
                border-color: $text-primary;
            }

            &:after {
                top: 3px;
                opacity: 1;
                visibility: visible;
            }
        }
        .ff-el-form-check-label {
            display: block!important;
            position: relative;
            padding-left: 35px;
            margin-bottom: 1rem!important;
            cursor: pointer;
            font-size: 1rem;
    
            .ff_tc_checkbox{
                display: block!important;
                position: absolute;
            }

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            } 
    
            &:before{
                content: '';
                position: absolute;
                top: 2px;
                left: 0;
                height: 20px;
                width: 20px;
                border: 2px solid $border;
                transition: all .3s ease-in-out;
            }
    
            &:after {
                content: $icon-checkmark;
                font-family: $fh-font-family;
                position: absolute;
                display: block;
                top: 6px;
                left: 4px;
                font-size: 12px;
                font-weight: bold;
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease-in-out;
            }
            
    
            &.disabled, [disabled] {
                color: $grey-txt;
    
                span:before {
                    border-color: $grey-txt;
                    background-color: $grey-bg;
                }
    
                &:hover {
                    cursor: not-allowed;
                }
            }
    
            &.inline {
                display: inline-block;
                margin-right: 20px;
    
                &:last-of-type {
                    margin-right: 0;
                }
            }
    
            &:hover {
                &:before {
                    border-color: $black;
                }
    
                &:disabled {
                    span {
                        border-color: $border;
                    }
                }
            }
    
            .ff-el-is-error &{
                span {
                    border-color: $orange;
                    box-shadow: 0 0 5px 0 rgba($orange, 0.4);
    
                    &:after {
                        color: $orange;
                    }
                }
            }
        }
    }

    .ff_file_upload_holder{
        width: 100%;
        .ff_upload_btn.ff-btn{
            width: 100%;
            background-color: transparent;
            border: 1px dashed $border;
            color: black;
            text-align: center;
            padding: 56px 24px 24px;
            position: relative;
            &:before{
                content: $icon-upload;
                font-family: $fh-font-family;
                position: absolute;
                top: 24px;
                left: 50%;
                transform: translateX(-50%); 
                font-size: 24px;
                transition: all .3s ease-in-out;
            }
            &:hover{
                border-color: $lgrey-bg;
                box-shadow: 0 4px 16px rgba(black, 0.05);

                .lgrey-bg & {
                    border-color: white;
                }
            }
            &:focus{
                border-color: black;
            }
        }
    }
    

    button,
    input {
        &.ff-btn {
            @extend .button;
            @extend .secondary;
        }
    }
}




footer, .cta-banner-black-section{
    .fluentform{
        padding: 0!important;
        max-width: 100%;
        .frm-fluent-form{
            display: flex;
        }
        .ff-el-form-check .ff-el-form-check-label{
            margin-top: 0.75rem;
            display: block!important;
            .ff_tc_checkbox{
                position: absolute;
            }
            .ff_t_c{
                display: block;
                font-size: 0.875rem;
                line-height: 1.2;
                font-weight: 300;
            }
        }
        .ff-el-group{
            margin-bottom: 0;
            &.ff-el-form-right, &.ff-el-form-left{
                flex: 0 1 100%;
                display: flex;
                justify-content: stretch;
                align-items: center;
                @include media-breakpoint-only(xs){
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
            & + &{
                margin-top: 18px;
            }
            .ff-el-input--label{
                width: auto;
                padding-top: 4px;
                padding-bottom: 4px;
                padding-right: 24px;
                label{
                    font-weight: 300;
                    font-size: 1rem;
                    @include media-breakpoint-up(xl){
                        white-space: nowrap
                    }
                    @include media-breakpoint-only(xs){
                        font-weight: 600;
                    }
                }
            }
    
            .ff-el-input--content{
                margin: 0;
                display: block;
                margin-right: 24px;
                .ff-el-form-control{
                    min-height: 56px;
                    border-radius: 6px;
                    padding-top: 16px;
                    padding-bottom: 16px;
                }
            }
        }
        .ff-btn.ff-btn-submit{
            min-height: 56px;
            @include media-breakpoint-only(xs){
                margin-left: auto;
                margin-right: auto;
            }
        }
        .ff-el-input--label.ff-el-is-required.asterisk-right label:after{
            display: none;
        }
    }
}

footer, .cta-banner-black-section.dark{
    .fluentform{
        .ff-el-input--content{
            .ff-el-form-control{
                background: rgba(243, 243, 243, 0.12);
                border: 1px solid $border;
                color: white;
                &::placeholder{
                    transition: all 0.3s ease-in-out;
                    color: rgba(white, 0.4);
                }
                &:focus{
                    border-color: white;
                    background: rgba(black, 0.1);
                    &::placeholder{
                        color: rgba(white, 0.2);
                    }
                }
            }
        }
        .ff-el-form-check-label{
            color: white;
            &:after{
                color: white;
            }
        }
        .ff-btn.ff-btn-submit{
            @extend .white;
        }
    }
}

footer{
    .fluentform{
        .frm-fluent-form{
            @include media-breakpoint-only(xs){
                padding-top: 18px;
                padding-bottom: 28px;
                & > *{
                    position: relative;
                    z-index: 1;
                }
                &:before{
                    content: '';
                    width: 100vw;
                    left: -24px;
                    height: 100%;
                    position: absolute;
                    background-color: #374047;
                    z-index: 0;
                    top: 0;
                }
                & > div:not(.ff_submit_btn_wrapper){
                    width: 100%;
                    padding-right: 8px;
                }
            }
        }
        .ff-el-group{
            .ff-el-input--label{
                @include media-breakpoint-only(xs){
                    text-align: left;
                    padding-right: 0;
                    position: absolute;
                    top: 0;
                    width: calc(100vw - 48px);
                    left: 0;
                }
            }
            .ff-el-input--content{
                width: 100%;
                @include media-breakpoint-only(xs){
                    margin-top: 39px;
                } 
            }
        }
        
        .ff-btn.ff-btn-submit{
            @include media-breakpoint-only(xs){
                margin-top: 39px;
            }
        }
    }
}

.cta-banner-black-section{
    .fluentform{
		margin-top: 2rem;
    }
}