//vars
$text-primary: #555964;
$lgrey-bg: #ECECEC;
$lblue-bg: #DFE6E9;
$xlgrey-bg: #F6F6F6;
$blue-grey: #18303F;
$dark-bg: #293137;
$grey-txt: #BABABA;
$header-border: #8E8E8E;
$grey-bg: #ECECEC;
$border: #D9D9D9;
$orange: #D77D54;


$border-radius: 6px;